@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(#0c0c3f, #000020);
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: #0c0c3f; /* supaya nav tetap solid */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* ini dia si bayangan */
    position: sticky; /* opsional, biar nempel di atas */
    top: 0;
    z-index: 1000;
}


.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo img {
    height: 50px;
}

.logo span {
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    flex-wrap: wrap; /* agar bisa wrap di layar kecil */
    gap: 2rem; /* jarak antar elemen */
}

.hero-text {
    flex: 1 1 400px;
    max-width: 600px;
}

.hero-text h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.hero-text p {
    line-height: 1.6;
    color: #d0d0d0;
    margin-bottom: 2rem;
}

.hero-image {
    flex: 1 1 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    max-width: 100%;
    
}

.hero-image img:first-child {
    position: absolute;
    z-index: 1;
    width: 70%;
    top: 0;
    transform: translateX(36%);
    -webkit-transform: translateX(36%);
    -moz-transform: translateX(36%);
    -ms-transform: translateX(36%);
    -o-transform: translateX(36%);
}

.hero-image img:last-child {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 600px;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
}

/* Sub Navbar */
.sub-navbar {
    background-color: #090C5D;
    width: 80%;
    padding: 1rem 0;
    margin: 2rem auto;
    border-radius: 0.8rem;
    /* position: sticky; */
    top: 0;
    /* z-index: 1000; */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

.sub-navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-navbar ul li {
    font-size: 1.3rem;
}

.sub-navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.sub-navbar a:hover {
    color: #00bcd4;
}

/* Categories */
.categories {
    /* background: radial-gradient(#0c0c3f, #000020); */
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

}

.category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    gap: 10rem;
    scroll-margin-top: 50px;
}


.category-item .text {
    flex: 1;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.category-item .text h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.category-item .text p {
    color: #ccc;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}

.category-item .image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.category-item .image img {
    width: 180px;
    max-width: 100%;
}

.btn-small {
    font-size: 0.75rem;
    padding: 0.4rem 1rem;
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn-small:hover {
    background-color: white;
    color: #0c0c3f;
}

.leadership-section {
    
    text-align: center;
    padding: 6rem 2rem;
    color: white;
}

.leadership-section h2 {
    font-size: 2rem;
    font-weight: 800;
}

.leadership-section p {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.carousel-container {
    position: relative;
    max-width: 90%;
    margin: 4rem auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.member {
    flex: 0 0 auto;
    text-align: center;
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.member p {
    background: linear-gradient(to right, #505050, #616161);
    display: inline-block;
    padding: 0.4rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.85rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

.carousel-btn.left {
    left: 0px;
}

.carousel-btn.right {
    right: 0px;
}
